<div id="newrest">
	<div id="newrestbox" class="jumbotron">
	<h1>KeyFree</h1>
		<p class="lead">BYOB without the fee</p></br>

<!-- 		<p class="lead">Login Here</p> -->

			<%= form_for @user, {class: "form-group col-lg-8", url:"/authentications", method:"post"} do |i|%>

				<p>
				  <%= i.label :email%><br/>
				  <%= i.text_field :email%>
				</p>
				<p>
				  <%= i.label :password%><br/>
				  <%= i.password_field :password%>
				</p>
				<p>
				  <%= i.submit "LOG IN" %>
				</p>
				<%end%>
				User id: <%= session[:user_id] %>
	</div>
</div>