<div id="newrest">
	<div id="newrestbox">

		<h1>Sign in</h1><br />

			<%= form_for @user, {url:"/authentications", method:"post"} do |u| %>
	
				<p>
					<%= u.label :email, "Email" %><br />
					<%=u.text_field :email %>
				</p>
				<p>
					<%= u.label :password, "Password" %><br />
					<%=u.text_field :password %></p>
				<p>
					<%= u.submit "Log In" %>
				</p>
			
			<% end %>

			<hr />
			User id: <%= session[:user_id] %>

	</div>
</div>

<!-- <div id="newuser">
<h1>Login Here</h1>

<%= form_for @user, html: {class: "form-group col-lg-8", url:"/authentications", method:"post"} do |i|%>

<p>
  <%= i.label :email, "Email"%>
  <%= i.text_field :email%>
</p>

<p>
  <%= i.label :password, "Password"%>
  <%= i.password_field :password%>
</p>

<p>
  <%= i.submit "LOG IN" %>
</p>

<%end%>
</div>
</div> -->