<!DOCTYPE html>
<html>
<head>
  <title>Keyfree</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

   <nav>
		<!-- <ul class="nav navbar-inverse nav-tabs navbar"> -->

      <%= render 'layouts/nav' %>

  	</nav>

      <%= yield %>

      <footer>
        <%= render 'layouts/footer' %>
      </footer>

</body>
</html>
